version: "3.8"
name: charlysheet-frontend

services:
  web:
    build:
      context: .
      dockerfile: Dockerfile
      args:
        VITE_API_HOST: http://localhost:3000/v1
        VITE_SOCKETIO_HOST: http://localhost:3000
    ports:
      - "80:80"
    restart: always