version: "3.8"
name: charlysheet-frontend

services:
  charlysheet-frontend:
    build: .
    ports:
      - "80:80"
    environment:
      VITE_API_HOST: <apiHost>
      VITE_SOCKETIO_HOST: <socketioHost>
      VITE_SOCKETIO_PATH: <socketioPath>
    restart: always